html {
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: 1.6rem;
  color: $color-body-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  color: $color-heading;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}

h2 {
	font-size: 2.8rem;
	line-height: 3.4rem;
	margin-bottom: 0.8rem;
	@include media-query($medium-up) {
		font-size: 4rem;
		line-height: 4.9rem;
		margin-bottom: 1.9rem;
	}
}

h4 {
	font-size: 1.4rem;
	line-height: 1.7rem;
	margin: 0.5rem 0 0;
	@include media-query($medium-up) {
		font-size: 2.1rem;
		line-height: 2.6rem;
		margin: 1.6rem 0 0.6rem;
	}
}